*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh;
  @extend %flex;
  padding: 10px;
}