*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

%flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-height: 100vh;
  @extend %flex;
  padding: 30px;
}

main {
  @extend %flex;
  flex-direction: column;
  gap: 20px;

  max-width: 600px;
  width: 100%;
  // border: 1px solid pink;

  header {
    @extend %flex;
    width: 100%;
    justify-content: space-between;
    h1 { font-size: 1.5em; }

    .themeSelect {
      @extend %flex;
      gap: 20px;
      align-items: flex-end;

      .theme-options {
        @extend %flex; gap: 4px;
        padding: 4px;
        border-radius: 20px;
        background-color: black;

        span:first-child input[type='button']{
          background-color: whitesmoke;
        }
      }

      .theme-option {
        @extend %flex;
        position: relative;
        width: max-content;
        flex-direction: column;

        label {
          position: absolute;
          // background-color: white;
          top: -200%;
        }

        input[type='button'] {
          width: 12px;
          height: 12px;
          border: none;
          border-radius: 50%;
          background-color: transparent;
        }
      }
    }
  }

  #output {
    display: block;
    width: 100%;
    padding: 15px;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
    border-radius: 8px;
    border: 2px solid grey;
    overflow: auto;
  }

  .buttons {
    @extend %flex;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    flex-direction: column;
    background-color: gray;

    .chars {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 10px;
    }

    .action {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      margin: 10px;
      margin-bottom: 0;
      gap: 10px;
    }
  }
}

button {
  padding: 15px;
  // margin: 4px;
  font-weight: bold;
  font-size: 1.8em;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: whitesmoke;

  &:active {
    color: whitesmoke;
    background-color: black;
  }
}

// For action buttons
.btn{
  padding: 15px 10px;
  font-size: 1em;
}