// Backgrounds
$mainBackground: hsl(222, 26%, 31%);
$toggleBackground: hsl(223, 31%, 20%); // keypad background
$screenBackground: hsl(224, 36%, 15%);

// Keys

$keyBackground: hsl(225, 21%, 49%);
$keyShadow: hsl(224, 28%, 35%); // default

$toggleBackground: hsl(6, 63%, 50%);
$toggleShadow: hsl(6, 70%, 34%);

$orangeBackground: hsl(30, 25%, 89%)
$keyShadow: hsl(28, 16%, 65%);

// Text

$text: hsl(221, 14%, 31%); // Very dark grayish blue
$textWhite: hsl(0, 0%, 100%);

main {
  border: 2px solid lime;
}