:root {
  /*Background */
  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);

  /* Keys */
  --key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --key-bg-toggle: hsl(25, 98%, 40%); /* "bg" stands for background */
  --key-shadow-r-btn: hsl(25, 99%, 27%); /* 'r' means reset */
  --key-bg-main: hsl(45, 7%, 89%);
  --key-shadow-main:hsl(35, 11%, 61%);

  /* Text */
  --text-color: hsl(60, 10%, 19%);
  --text-color-2: hsl(0, 0%, 100%);
  }

  /* #### Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

#### Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

#### Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0%, 100%) */
